<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 | Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
      
    <script src="https://kit.fontawesome.com/4b3618a808.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Title', 'Data'],
          ['Total Cases',      <%= gtc %>],
          ['Total Deaths', <%= gtd %>],
          ['Total Recovered', <%= gtr %>]
        ]);

        var CountryData = google.visualization.arrayToDataTable([
            ['Title', 'Data'],
            ['Total Cases',      <%= ctc %>],
            ['Total Deaths', <%= ctd %>],
            ['Total Recovered', <%= ctr %>]
        ])

        var options = {
          title: 'Covid Global Data',
          backgroundColor: "transparent",
          titleTextStyle: {color: 'white'},legendTextStyle: { color: 'white' }
        };
        var options2 = {
            title: 'Covid Country Data', backgroundColor: 'transparent', titleTextStyle: {color: 'white'}, legendTextStyle: { color: 'white' }
        }

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

        chart.draw(data, options);
        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(CountryData, options2);
      }
    </script>


    
</head>
<body>

    <div class="container">
        <h1 class="text-center mt-5">Covid-19 Live Data</h1>

        <h2>Global Data</h2>
        <table class="table table-hover">
            <div>
                <div>
                    <thead>
                        <th><span style="color: rgba(86, 86, 236, 0.863);;">Total Confirmed</span></th>
                        <th><span style="color: red;">Total Death</span></th>
                        <th><span style="color: green;">Total Recovered</span></th>
                    </thead>
                    <tbody>
                        <tr id="mainData">
                            <td> <%= gtc %>  </td>
                            <td> <%= gtd %>  </td>
                            <td> <%= gtr %>  </td>
                        </tr>
                    </tbody>
                </div>
            </div>
            <br>
        </table>
    </div>

    <div class="container" id="search-based">
        <br><br>
        <h2>Country Data</h2><br><br>   

        <form action="/" method="post">
            <input type="text" name="InputCountry" value="" placeholder="Type your country...">
            <br><br>
            <button class="btn btn-danger" type="submit" name="button">Search</button>
        </form>
        <br>
    <%    if (flag === 0){  %>
        <h3><%=  countryName   %></h3><br>
        <table class="table table-hover">
            <div>
                <div>
                    <thead>
                        <th><span style="color: rgba(86, 86, 236, 0.863);">Total Confirmed</span></th>
                        <th><span style="color: red;">Total Death</span></th>
                        <th><span style="color: green;">Total Recovered</span></th>
                    </thead>
                    <tbody>
                        <tr id="mainData">
                            <td> <%= ctc %>  </td>
                            <td> <%= ctd %>  </td>
                            <td> <%= ctr %>  </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </table>
    <%    }     %>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12" id="piechart1" style="width: 600px; height: 600px;"></div>
        <div class="col-lg-6 col-md-12 col-sm-12" id="piechart2" style="width: 600px; height: 600px;"></div>
    </div>
    

    <footer>
    <%    var year = new Date().getFullYear() %>
    <p>Copyright © <%= year %> | Made by Soumik Mukherjee</p>
    </footer>
</body>



<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</html>
